.div-main {
    margin: 5px;
    padding: 2px;
}

.div-post {
    max-width: 1280px;
    justify-content: center;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #3c86b8;
}

.div-container {
    display: flex;
}

.div-container-home {
    display: flex;
    margin: 6px;
}

.div-post-home {
    flex: 1;
    flex-grow: 1;
    margin: 4px;
}

.div-post-home .div-post {
    height: 100%;
    box-sizing: border-box;
}

.div-post-img {
    flex: 8;
}

.div-title {
    margin: 0px 5px;
    font-size: 26px;
    padding: 2px;
}

.div-body {
    font-size: 20px;
    padding: 3px;
    padding-left: 6px;
}

.div-img {
    margin-left: 6px;
}

.div-img>img {
    width: 100%;
    border: 1px solid black;
}

.div-post-inf {
    flex: 2;
}

.div-post-inf>div {
    padding-left: 10px;
}

.div-post-inf li {
    padding: 4px;
    margin: 2px;
    min-width: 120px;
    max-width: 280px;
}

.div-post-inf li>a {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
    display: block;
    text-decoration: none;
    color: inherit;
}

.div-post-inf li>a:hover {
    background-color: rgb(201, 131, 0);
    cursor: pointer;
    transition: 0.3s;
}

.post-div-delete {
    position: relative;
}

.post-div-delete-button {
    display: flex;
    justify-content: flex-end;
}

.post-delete {
    margin: 5px;
    background-color: red;
    border: 1px solid rgb(107, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.post-delete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #559ccb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    min-width: 300px;
}

.post-delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.post-delete-modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
        margin: 5px;
        background-color: red;
        border: 1px solid rgb(107, 0, 0);
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        padding: 0.25rem;
        border-radius: 0.5rem;
        cursor: pointer;
        margin: 0 20px 0 20px;
    }
    .post-delete-modal-button-cancel{
        background-color: rgb(213, 213, 213);
        border: 1px solid black;
    }
}

.comment__main {
    margin: 10px;

    p {
        font-size: 20px;
    }
}

.comment__form {
    display: flex;
    flex-direction: row;

    input[type="text"],
    button,
    textarea {
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        padding: 0.25rem;
        border-radius: 0.5rem;
    }

    textarea {
        flex: 1;
        resize: none;
        padding: 10px;
        font-size: 16px;
        box-sizing: border-box;
        margin-right: 10px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        height: 50px;
        margin-top: 5px;
    }

    button:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
.comment-list{
    margin-top: 10px;
}
.comment-single{
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 0.5rem;
}
@media (max-width: 768px) {

    .div-container,
    .div-container-home {
        display: block;
    }

    .div-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .div-img>img {
        width: 90%;
    }
}