*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #087bc8;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.main{
    position: relative;
    min-height: 100vh;
}
.header{
    background-color: #142850;
    border-bottom: 5px solid black;
}
.header__ul{
    align-items: center;
}
.header__ul>li{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: pink;
}
.header__ul>li:hover{
    background-color: rgb(255, 164, 180);
    cursor: pointer;
    transition: 0.3s;
}
.prop{
    padding-bottom: 43px;
}
hr{
    visibility: hidden;
}
.footer { 
    position: absolute;
    border-top: 5px solid black;
    background-color: #142850;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer__ul>li{
    display: inline-block;
    align-items: center;
    padding: 2px;
}
.footer__ul img{
    height: 32px;
}