.div-main {
    margin: 5px;
    padding: 2px;
    border: 4px solid black;
    background-color: gray;
}

.div-post {
    margin: 5px;
    padding: 2px;
    border: 2px solid black;
    background-color: lightblue;
}

.div-container {
    display: flex;
}
.div-post-img{
    flex: 8;
}

.div-title {
    margin: 0px 5px;
    font-size: 26px;
    padding: 2px;
}

.div-body {
    font-size: 20px;
    padding: 3px;
}

.div-img>img {
    width: 100%;
    border: 1px solid black;
}

.div-post-inf {
    flex: 2;
    padding: 2px;
}