.div-tags li {
    padding: 4px;
    background-color: pink;
    border: 1px solid black;
    max-width: 130px;
    margin: 2px;
}
.div-tags li:hover{
    background-color: rgb(255, 164, 180);
    cursor: pointer;
    transition: 0.3s;
}
.div-tags li>a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}