.div-tags li {
    padding: 4px;
    background-color: limegreen;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2px;
    min-width: 120px;
    max-width: 280px;
}
.div-tags li:hover{
    background-color: #7FFF00;
    cursor: pointer;
    transition: 0.3s;
}
.div-post-inf li>a {
    display: block;
    text-decoration: none;
    color: inherit;
}